<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<style>

</style>
<body>
<div id="root">
  <div class="container box">
    <div class="row">
      <table class="table table-hover table-bordered">
        <caption class="h2 text-center text-info">
          购物车
        </caption>
        <tbody>
        <tr>
          <th>
            全选: <input type="checkbox" v-model="checkAll">
          </th>
          <td>商品</td>
          <td>单价</td>
          <td>数量</td>
          <td>小计</td>
          <td>操作</td>
        </tr>
        <tr v-for="(product,index) in products">
          <td>
            <input type="checkbox"
                   v-model="product.isSelected">
          </td>
          <td>
            <img :src="product.productCover" alt="">
          </td>
          <td>
            {{product.productPrice}}
          </td>
          <td>
            <input type="number" v-model.number="product.productCount">
          </td>
          <td>
            {{product.productPrice * product.productCount | toFixed(2)}}
          </td>
          <td>
            <button class="btn btn-danger" @click="deleteItem(product)">删除</button>
          </td>
        </tr>
        <tr>
          <td colspan="6">
            总价格:{{sum}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


<script src="./node_modules/vue/dist/vue.js"></script>
<script src="node_modules/axios/dist/axios.js"></script>
<!--<script src="Promise/promise-ajax.js"></script>-->
<script>
  let vm = new Vue({
    el: '#root',
    created() {
      this.getData();
    },
    filters: {
      toFixed(input, param) {
        return "$" + input.toFixed(param);
      }
    },
    methods: {
      getData() {
        axios({url: './carts.json'}).then(res => {
          this.products = res.data;
        }, err => {
          console.log(err);
        })
      },
      deleteItem(curItem) {
        this.products = this.products.filter((item) => {
          return item !== curItem;
        })
      },
    },
    data: {
      products: [],
    },
    computed: {
      sum() {
        let total;
        total = this.products.reduce((prev, next) => {
          if (!next.isSelected) return prev; //如果当前没选中则不计算当前;
          return prev + next.productPrice * next.productCount;
        }, 0)
      },
      checkAll: {
        get() {
          return this.products.every(item => {
            return item.isSelected;
          });
        },
        set(val) {
          this.products.forEach(item => {
            item.isSelected = val;
          })
        }
      }
    }
  })


</script>
</body>
</html>